.movie-Contanier{
    height: 230px;
    width: 370px;
   
    border-radius: 6px ;
    position: relative;
    overflow: hidden;
    margin: 1rem 0;

   
}
.img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 6px;
}

.imfo-div{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    right: 0;
    color: white;
   /* background: #1f3d4738;
   backdrop-filter: blur(5px); */
   transition: 0.5s;
   
   padding-left: 1.5rem;

}
.movie-Contanier:hover .imfo-div{
    top: 0;
}
.title{
    padding-top: 4rem;

    font-size: 1.3rem;
    font-weight: 700;
    display: block;
}
.movietype{
    font-size: 1rem;
 
    font-weight: 700;
    display: block;
    margin-bottom: 3rem;
}


.link{
   
    text-decoration: none;
    color: white;
    background-color: #ff4141;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    font-size: 1.3rem;
    font-weight: 700;
}
.delete-btn{
    cursor: pointer;
}