.login-page{
    width: 100vw;
    height: 100vh;
    background-color:white ;
    padding-top: 80px;
}

.login-container{
    width: 580px;
 height: 400px;
    background-color: #fce3fe ;
    margin:  auto;
    padding: 40px 60px;
}


.loginsingup-fields{
    display: flex;
    flex-direction: column;
   
    gap: 20px;
    margin-top: 30px;
}
.loginsingup-fields .inputfields{
    height: 40px;
    width: 100%;
    padding-left: 20px;
border: 1px solid black;
outline: none;
color: #5c5c5c;
font-size: 18px;
}

.login-container button{
    width: 100%;
    height: 55px;
    color: white;
    background-color: #ff4141;
    margin-top: 20px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login{
    margin-top: 3px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.radio{
    margin-left: 10px;
    
    }



.loginsignup-link{
    color: #ff4141;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}