.login-page{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    height:600px;
    width: 1200px;
    margin-left:125px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:white;
    display: flex;
    justify-content:center;
    box-shadow: 0px 0px 10px 0.1px lightblue;
}

.login-container{
    width: 580px;
    height: 400px;
    margin-left:-30px;
    padding: 40px 60px;
}

.loginsingup-fields{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.ip .ipfields{
    height: 40px;
    width: 400px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    padding-left: 20px;
    border: 1px solid  #e6e6ff;
    box-shadow: 0px 0px 5px 1px rgb(252, 230, 230);
    background: white;
    color: #5c5c5c;
    font-size: 18px;
    margin-top: 30px;
}


.loginsignup-login{
    margin-top: 3px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.radio{
    margin-left: 10px;
    
    }
.login-img{
    height: 500px;
    width: 700px;
}
.loginsignup-link{
    color: #ff4141;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}
.login-button{
    width: 85%;
    height: 55px;
    color: white;
    border-radius: 10px;
    background-color:#fc3434;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
@media screen and (max-width:768px) {
    .login-container{
        width: 300px;
        padding: 40px 20px;
    }
    .login-page{
        padding-top: 50px;
        display: block;
        margin: 20px auto;
        height:450px;
        width: 280px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .login-img{
        height: 200px;
        width: 280px;
        display: none;
    }
    .ip{
        height: 20px;
        width: 50px;
    }  
    .loginsingup-fields{
        margin-left: 40px;
    }
    
    .ip .ipfields{
        width: 240px;
        display: block;
        margin: 30px auto;
        margin-left: 30px;
    }
    .login-button{
        width: 200px;
        margin-left: 50px;
    }
    .loginsignup-login{
        width: 250px;
        margin-left: 30px;
    }
}
