.movie-img{
  height: 500px;
  width: 700px;
  
    
}

.movie-container{
  padding-top: 50px;
  display: flex;
 
  justify-content: space-around;
  height:800px;
  width: 1200px;
  margin-left:125px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color:white;
 
  
  box-shadow: 0px 0px 10px 0.1px lightblue;
}

 .right-div{
 
  width: 28vw;
} 

.sected-heading{
  text-align: center;
}
.selcted-seats{
  text-align: center;
}
.movie-seat-booking {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
  }
  
  .seat.selected {
    background-color: #61dafb; /* Light blue for selected seats */
    color: #fff;
  }
  .booking-botton{
    width: 85%;
    height: 55px;
    color: white;
    border-radius: 10px;
    background-color:#fc3434;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
  .seat.booked {
    background-color: #ff6961; /* Light red for booked seats */
    color: #fff;
  }
  
  .selected-seats {
    margin-top: 20px;
  }
  
  .selected-seats p {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }
  .screen{
    margin: 1px 0;
   
  }
.text-center{
    text-align: center;
    margin-top: 10px;
    margin-left: -10px;
}
.seat-container{
   
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
@media screen and (max-width:768px){
  .movie-img{
    display: none;
  }
  .movie-container{
    width: 300px;
        padding: 40px 20px;
        margin-left:18px;
        height:1300px;
  }
  .right-div{

    width: 60vw;
    
  } 
  .seat-container{
   
    width: 90%;

}
  .booking-botton{
   font-size: 1.1rem;
    font-weight: 500;
  }

}