.booking-container{
    height: 550px;
    width: 1000px;
    box-shadow: 0px 0px 10px 0px rgb(250, 141, 141);
    display: block;
    margin: 60px auto;
    border-radius: 10px;
}
.form-handle{
    display: block;
    margin: 0px auto;
    font-size: 16px;
    padding: 5px 10px;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.small-field{
    margin: 15px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    width: 150px;
}

.left-hand-container{
margin-top: 20px;
}
.right-hand-container{
    margin-top: 20px;
}
.main-booking-container{
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
}
.type-text{
    font-size: 17px;
}
.booking-btn{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: red;
    border: 1px solid red;
    width: 250px;
    display: block;
    margin: 60px auto;
    color: white;
    font-size: 25px;
    position:relative;
    bottom: 40px;
}
.movie-iamge{
    height: 300px;
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}
.movie-description{
    padding: 1px 10px;
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   font-size:17px;
}
.type-btn{
    display: flex;
    flex-direction: column;

}
.type-input{
    display: flex;
    margin-top: 20px;
}
.input-left{
    margin-left: 100px;
}
@media screen and (max-width:768px){
    .main-booking-container{
        flex-direction: column;
    }
    .booking-container{
        width: 280px;
        height:730px;
    }
    .movie-iamge{
        height: 200px;
        width: 250px;
        display: block;
        margin: 0px auto;
    }
    .left-hand-container{
        margin-top: 10px;
        }
        .right-hand-container{
            margin-top: 10px;
        }
        .type-input{
            display: flex;
            margin-top: 10px;
        }
        .input-left{
            margin-left: 100px;
        }
        .movie-description{
            padding: 1px 15px;
           font-size:15px;
           margin-left: 15px;
           margin-right: 15px;
        }
        .booking-btn{
            padding: 5px 10px;
            width: 150px;
            margin: 60px auto;
            font-size: 20px;
            position:relative;
            bottom: 40px;
        }
        .form-handle{
            padding: 5px 10px;
            width: 170px;
       
        }
}