.card-container{
    background-color: aliceblue;
    border-radius: 10px;
    
    width: 300px;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.group-imge{
    height: 300px;
    width: 295px;
    padding: 15px;
    
}
.dec{
    text-align: justify;
    margin: 0px 20px;
    margin-bottom: 5px;
}