.show-movie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0;
}
.input-box{
    display: block;
    outline: none;
    margin: 5px auto;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px 10px;
}