.bg-body-create-user{
    background-color:blue;
}
.color-title{
    color:rgb(0, 255, 21);
}
.color:hover{
    color: black !important;
}
.color{
    color: white !important;
    font-weight: bold;
}
.color-bg{
    background-color:#000066 !important;
}
.logoutimg{
    height: 30px;
    margin-left: 10px;
}
.logout-text{
    color: white;
}
.img-admin{
    height: 30px;
}
.admin-text{
    font-size: 10px;
}
.font-size{
    font-size: 20px !important;
    font-weight: 600 !important;
} 
.color{
    color: white !important;
  
}
.color-bg{
    background-color: #ff1a1a !important;
}
.logoutimg{
    height: 30px;
    margin-left: 10px;
}
.logout-text{
    color: white;
}
.btn-search{
    background-color: aliceblue !important;
    border: 0.5px solid red !important;
}
.btn-search:hover{
    background-color: #ff1a1a !important;
}
@media screen and (max-width:768px){
    .toggle-after{
        color: white !important;
    }
}
.toggle-after{

}